# VERIFICATION OF INSTRUCTIONS

This directory contains MetaData for the RISC-V Instruction Set Architecture

| File                           | Description                             |
|--------------------------------|:----------------------------------------|
| `test`                         | `Test for Verification`                 |
: Verification Directory
