# VERIFICATION OF INSTRUCTIONS

This directory contains MetaData for the RISC-V Instruction Set Architecture

| File                           | Description                             |
|--------------------------------|:----------------------------------------|
| `test`                         | `Test for Verification`                 |
: Verification Directory

| `Architecture 32 bit`    | `PU`           | `SoC`           | `MPSoC`          |
|--------------------------|:---------------|:----------------|:-----------------|
| `Base ISA`               | `rv32-p-i`     | `rv32-pv-i`     | `rv32-pvt-i`     |
| `Standard ISA`           | `rv32-p-imac`  | `rv32-pv-imac`  | `rv32-pvt-imac`  |
: Architecture 32 bit

| `Architecture 64 bit`    | `PU`           | `SoC`           | `MPSoC`          |
|--------------------------|:---------------|:----------------|:-----------------|
| `Base ISA`               | `rv64-p-i`     | `rv64-pv-i`     | `rv64-pvt-i`     |
| `Standard ISA`           | `rv64-p-imac`  | `rv64-pv-imac`  | `rv64-pvt-imac`  |
: Architecture 64 bit

| `Architecture 128 bit`   | `PU`            | `SoC`            | `MPSoC`           |
|--------------------------|:----------------|:-----------------|:------------------|
| `Base ISA`               | `rv128-p-i`     | `rv128-pv-i`     | `rv128-pvt-i`     |
| `Standard ISA`           | `rv128-p-imac`  | `rv128-pv-imac`  | `rv128-pvt-imac`  |
: Architecture 128 bit
